.toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    opacity: 0.6;
    transition: opacity 0.3s;
    display: none;
}

.toast-warning {
    background-color: orange;
}

.toast-error {
    background-color: gray;
} 